@use '../constants/colors' as *;

.light {
  background-color: $white;

  body {
    background-color: $white;
  }

  div, p, li, a {
    color: $black;
  }
}

.dark {
  background-color: $dark;

  body {
    background-color: $dark;
  }

  div, p, li, a {
    color: $white;
  }
}
