@use '../mixin/flexbox' as flex;

.auth {
  @include flex.column-flexbox();
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  .title {margin-bottom: 24px; font-size: 40px;}
  .social-login-wrapper {
    @include flex.flexbox();
    button {border: 1px solid; padding: 0 10px; height: 40px; border-radius: 10px;}
    button:first-child {margin: 0 10px 0 0;}
  }
}

.auth-form-wrapper {
  width: 100%;
  margin: 0 0 20px;
  padding: 0 40px;
  form {
    @include flex.column-flexbox();
    margin: 0 0 24px;
    .email-input,
    .password-input {border: 1px solid #000; width: 100%; height: 32px; padding: 0 12px;}
    .email-input {margin: 0 0 4px;}
    .submit-input {
      margin: 10px 0 0;
      transition: all 200ms ease-in-out;
      &:hover {font-weight: 600; cursor: pointer;}
    }
  }
  .toggle-text {
    @include flex.flexbox();
    text-decoration: underline;
    cursor: pointer;
  }
}
