@use '../mixin/flexbox' as flex;

.auth-form-wrapper {
  width: 100%;
  margin: 0 0 20px;
  padding: 0 40px;

  .toggle-text {
    @include flex.flexbox();
    text-decoration: underline;
    cursor: pointer;
  }
}
