@use '../mixin/flexbox' as *;

.auth {
  .title {
    margin-bottom: 20px;
    font-size: 40px;
  }

  &-form {
    width: 100%;
    margin: 0 0 20px;

    &-toggle {
      @include flexbox();
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
