$black: #000;
$white: #fff;
$lightgrey: #dbdfe5;
$grey: grey;
$blue: #3068ef;
$red: #e93733;
$green: #7ed321;
$skyblue: #f9fbff;
$dark: #05081a;
$transparent: transparent;

$primary: $black;
$secondary: $grey;
$tertiary: $blue;
$border: #dbdfe5;
$background: $white;
