@use '../mixin/flexbox' as *;
@use '../mixin/responsive' as *;

.nav {
  margin-bottom: 40px;

  ul {
    @include column-flexbox(center, start);
    margin-bottom: 20px;

    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      a {
        font-size: 20px;
      }
    }
  }

  @include responsive(T) {
    margin-bottom: 0;
  }

}
