@use '../mixin/flexbox' as flex;

#root {
  @include flex.flexbox(center, start);
  padding: 20px;
}

.container {
  @include flex.column-flexbox();
  width: 65%;
  height: 100vh;
  margin: 0 auto;

  & > form,
  & > div {
    width: 100%;
  }

  .title {
    margin-bottom: 24px;
    font-size: 40px;
  }
}
