* {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  color: #000;
}

h1 {
  margin: 0;
}

a {
  color: initial;
  text-decoration: none;
}

button,
input,
select,
textarea {
  border: 0;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}